.group__message__box{"data-message_id": group_message.id}
  - if group_message.user.id == current_user.id
    .group__message__contents.position-right
      - if group_message.text.present?
        .group__message__content.position-right
          .group__message__text.group__message__text--right
            = group_message.text
      .group__message__content.position-right
        = image_tag group_message.image.url, class: 'group__message__image' if group_message.image.present?

    .group__message__user
      = image_tag group_message.user.image.url, class: "group__message__user__image"
      %p.group__message__user__name
        = group_message.user.name
      %p.group__message__date
        = group_message.created_at.strftime("%y-%m-%d %p %I:%M")
  - else
    .group__message__user
      = image_tag group_message.user.image.url, class: "group__message__user__image"
      %p.group__message__user__name
        = group_message.user.name
      %p.group__message__date
        = group_message.created_at.strftime("%y-%m-%d %p %I:%M")

    .group__message__contents.position-left
      - if group_message.text.present?
        .group__message__content.position-left
          .group__message__text.group__message__text--left
            = group_message.text
      .group__message__contents.position-left
        = image_tag group_message.image.url, class: 'group__message__image' if group_message.image.present?