title
= @intermediate.title
category
= @intermediate.category
language
= @intermediate.language
detail
= @intermediate.detail
entry_period
= @intermediate.entry_period
work_period
= @intermediate.work_period
recruit_member
= @intermediate.recruit_member