.article__contents
  .article__content
    = link_to "上級者カテゴリー一覧", seniors_path
  .article__content
    = link_to "上級者カテゴリー作成", new_senior_path
  .article__content
    = link_to "上級者カテゴリー編集", edit_senior_path(id: 1)
  .article__content
    = link_to "上級者カテゴリー確認", senior_path(id: 1)

  .article__content
    = link_to "中級者カテゴリー一覧", intermediates_path
  .article__content
    = link_to "中級者カテゴリー作成", new_intermediate_path
  .article__content
    = link_to "中級者カテゴリー編集", edit_intermediate_path(id: 1)
  .article__content
    = link_to "中級者カテゴリー確認", intermediate_path(id: 1)

  .article__content
    = link_to "初級者カテゴリー一覧", beginners_path
  .article__content
    = link_to "初級者カテゴリー作成", new_beginner_path
  .article__content
    = link_to "初級者カテゴリー編集", edit_beginner_path(id: 1)
  .article__content
    = link_to "初級者カテゴリー確認", beginners_path