.article__contents
  .article__category
    %table.article__category__contents
      %tr.article__category__content
        %td.article__heading.article__category__content.article__category__content--title
          グループ名
        %td.article__heading.article__category__content.article__category__content--master
          管理者
        %td.article__heading.article__category__content.article__category__content--members
          所属人数
        %td.article__heading.article__category__content.article__category__content--detail
          詳細
        %td.article__heading.article__category__content.article__category__content--link
          リンク
    - if current_user.groups.present?
      %table.article__category__contents
        - current_user.groups.each do |group|
          %tr.article__category__content
            %td.article__category__content.article__category__content--title
              - if group.master == current_user.id
                = link_to group.name, edit_group_path(group.id), class: "article__category__content--link"
              - else
                = group.name
            %td.article__category__content.article__category__content--master
              = link_to group.master_name, user_path(id: group.master), class: "article__category__content--link"
            %td.article__category__content.article__category__content--members
              = group.users.count
              人
            %td.article__category__content.article__category__content--detail
              = group.detail
            %td.article__category__content
              = link_to "メッセージ", group_group_messages_path(group.id), class: "article__category__content--link"
              -# = link_to "詳細確認", group_path(id: group.id), class: "article__category__content--link"
    - else
      %table.article__category__contents
        %tr.article__category__content
          %td.article__heading.article__category__content
            グループに所属していません