.private-content
  = render 'private_messages/side_msgbox', { messages: @messages, send_messages: @send_messages }
  .private__message__lists
    .private__message__list
      %h1
        - if @target_box != "送信"
          = @target_user.name
        = @target_box + "ボックス"
      - unless @message_lists.present?
        .private__main__content
          %h3 やりとりしたメッセージはありません
      - else
        %table
          %thead
            %tr
              %th{:scope => "col"} 日時
              %td{:scope => "col"} メッセージ
              - if @target_box != "送信"
                %td{:scope => "col"} 既読/未読
              - else
                %td{:scope => "col"} 宛先
              %td{:scope => "col"} 確認
          %tbody
            - @message_lists.each do |message_list|
              %tr
                %th.date{"data-label" => "日時"}
                  = message_list.created_at.strftime("%y-%m-%d %p %I:%M")
                %td.message{"data-label" => "メッセージ"}
                  = message_list.text.truncate(20, omission: '...')
                - if @target_box != "送信"
                  %td.read{"data-label" => "既読/未読"}
                    - if message_list.read_check == false ? read_check = "未読" : read_check = "既読"
                      = read_check
                  %td.verification{"data-label" => "確認"}
                    = link_to "メール内容を確認する", user_private_message_path(id: message_list.id, user_id: message_list.send_user.id, send_user_id: message_list.user.id , target_box: @target_box)
                - else
                  %td.read{"data-label" => "宛先"}
                    = message_list.send_user.name
                  %td.verification{"data-label" => "確認"}
                    = link_to "メール内容を確認する", user_private_message_path(id: message_list.id, user_id: message_list.user.id, send_user_id: message_list.send_user.id , target_box: @target_box)

        -# %table.private__message__list--table
        -#   %tr.private__message__list--top
        -#     %th.private__message__list--first-column 日時
        -#     %th.private__message__list--second-column メッセージ
        -#     - if @target_box != "送信"
        -#       %th.private__message__list--third-column 既読/未読
        -#     - else
        -#       %th.private__message__list--third-column 宛先
        -#     %th.private__message__list--fourth-column 確認
        -#   - @message_lists.each do |message_list|
        -#     %tr.private__message__list--top
        -#       %td.private__message__list--first-column
        -#         = message_list.created_at.strftime("%y-%m-%d %p %I:%M")
        -#       %td.private__message__list--second-column
        -#         = message_list.text
        -#       - if @target_box != "送信"
        -#         %td.private__message__list--third-column
        -#           - if message_list.read_check == false ? read_check = "未読" : read_check = "既読"
        -#             = read_check
        -#         %td.private__message__list--fourth-column
        -#           = link_to "メール内容を確認する", user_private_message_path(id: message_list.id, user_id: message_list.send_user.id, send_user_id: message_list.user.id , target_box: @target_box)
        -#       - else
        -#         %td.private__message__list--third-column
        -#           = message_list.send_user.name
        -#         %td.private__message__list--fourth-column
        -#           = link_to "メール内容を確認する", user_private_message_path(id: message_list.id, user_id: message_list.user.id, send_user_id: message_list.send_user.id , target_box: @target_box)