.private-content
  = render 'private_messages/side_msgbox', { messages: @messages, send_messages: @send_messages }
  .private__message__lists
    .private__message__list
      %h1
        = @target_user.name
        = "さんとのやりとり（" + @target_box + "ボックス）"
      - unless @message_lists.present?
        .private__main__content
          %h3 やりとりしたメッセージはありません
      - else
        %table.private__message__list--table
          %tr.private__message__list--top
            %th.private__message__list--first-column 日時
            %th.private__message__list--second-column メッセージ
            - if @target_box != "送信"
              %th.private__message__list--third-column 既読/未読
            %th.private__message__list--fourth-column 確認
          - @message_lists.each do |message_list|
            %tr.private__message__list--top
              %td.private__message__list--first-column
                = message_list.created_at.strftime("%y-%m-%d %p %I:%M")
              %td.private__message__list--second-column
                = message_list.text
              - if @target_box != "送信"
                %td.private__message__list--third-column
                  - if message_list.read_check == false ? read_check = "未読" : read_check = "既読"
                    = read_check
              %td.private__message__list--fourth-column
                = link_to "メール内容を確認する", user_private_message_path(id: message_list.id, user_id: @target_user.id)