
%header.header
  .inner
    %h1#logo
      = link_to root_path do
        .topPage__header__title
          %span.topPage__header__title--text
            Engineer Connect Bot
        .topPage__header__title
          %span.topPage__header__title--subtext
            〜 エンジニアと繋がりたいを叶える 〜

#menu-box.nav-fix-pos
  / PC用（481px以上端末）メニュー
  %nav#menubar
    %ul
      %li.menuimg.menu1
        = link_to '自己管理', root_path
      %li.menuimg.menu2
        = link_to 'ユーザー', root_path
      %li.menuimg.menu3
        = link_to 'グループ', root_path
        %ul.ddmenu
          %li
            = link_to 'グループを作成', root_path
          %li
            = link_to 'グループを編集', root_path
          %li
            = link_to 'グループを検索', root_path
      %li.menuimg.menu4
        = link_to '投稿', root_path


#topPage
  .topPage__header
    .topPage__header__contents
      .topPage__header__content
        .topPage__header__title
          %span.topPage__header__title--text
            Engineer Connect Bot
        .topPage__header__title
          %span.topPage__header__title--subtext
            〜 エンジニアと繋がりたいを叶える 〜
  .topPage__user
    - if user_signed_in?
      .topPage__user__box
        %p.topPage__user__box--text
          ようこそ
        .topPage__user__box__name
          %p
            = current_user.name
        %p.topPage__user__box--text
          さん

    %ul.topPage__user__menu
      %li#topPage__myDetail.topPage__user__list
        %span.topPage__user__list--text
          自己管理
        = fa_icon 'bars 1x', id: "myDeail", class: "fas fa-bars"
        .detail__lists.myDetail__lists
          - if user_signed_in?
            .detail__list.myDetail__list
              = link_to "ユーザー編集", edit_user_registration_path
            .detail__list.myDetail__list
              = link_to "詳細登録", new_user_details_path
            .detail__list.myDetail__list
              = link_to "詳細編集", edit_user_details_path
            .detail__list.myDetail__list
              = link_to "詳細確認", user_details_path
            .detail__list.myDetail__list
              = link_to "ログアウト", destroy_user_session_path, method: :delete
          - else
            .detail__list.myDetail__list
              = link_to "ユーザー作成", new_user_registration_path
            .detail__list.myDetail__list
              = link_to "ログイン", new_user_session_path

      %li#topPage__otherDetail.topPage__user__list
        %span.topPage__user__list--text
          ユーザー
        = fa_icon 'bars 1x', id: "otherDetail", class: "fas fa-bars"
        .detail__lists.otherDetail__lists
          .detail__list.otherDetail__list
            = link_to "ユーザーを検索", users_path

      %li#topPage__groupDetail.topPage__user__list
        %span.topPage__user__list--text
          グループ
        = fa_icon 'bars 1x', id: "groupDetail", class: "fas fa-bars"
        .detail__lists.groupDetail__lists
          .detail__list.groupDetail__list
            = link_to 'グループを作成', new_group_path
          .detail__list.groupDetail__list
            = link_to 'グループを編集', engineer_connect_bots_have_group_path
          .detail__list.groupDetail__list
            = link_to 'グループを検索', groups_path

      %li#topPage__articleDetail.topPage__user__list
        %span.topPage__user__list--text
          投稿と依頼
        = fa_icon 'bars 1x', id: "articleDetail", class: "fas fa-bars"
        .detail__lists.articleDetail__lists
          .detail__list.articleDetail__list
            = link_to '記事を検索する', engineer_connect_bots_search_path
          .detail__list.articleDetail__list
            = link_to '記事を投稿する', engineer_connect_bots_article_path

  .topPage__contents
    .topPage__content
      ああああああ