.article__contents
  .article__category
    .article__category--text マイページメニュー
  - if user_signed_in?
    .article__content
      = link_to '基本編集', edit_user_registration_path
    - if current_user.user_detail.present?
      .article__content
        = link_to '詳細編集', edit_user_detail_path(current_user)
      .article__content
        = link_to '詳細確認', user_detail_path(current_user)
    - else
      .article__content
        = link_to '詳細登録', new_user_detail_path
    .article__content
      = link_to 'ログアウト', destroy_user_session_path, method: :delete
  - else
    .article__content
      = link_to "ユーザー作成", new_user_registration_path
    .article__content
      = link_to "ログイン", new_user_session_path