.form
  .form__contents
    %h2
      %span.follow-wrapper{id: "user_#{@user.id}"}
    .form__content
      = image_tag @user.image.url, class: "form__image" if @user.image.present?
    .form__content
      .form__label
        ニックネーム
      = @user.name
    - if @user.user_detail.present? && @follow.present?
      .form__content
        .form__label
        = link_to "詳細を見る", user_detail_path(@user), class: "article__category__content--link"
      .form__content
        .form__label
        = link_to "メッセージを送る", "", class: "article__category__content--link"
    .form__content
      = render 'follow_form', user: @user if user_signed_in?

-# %h4
-#   = render 'users/stats'
