.row
  %aside.span4
    %section
      = render 'users/stats'
      %h2= @title
      - if @users.any?
        - @users.each do |user|
          %table
            %tr
              %td
                = user.username
              %td= link_to '詳細', user_path(user)
          -# .user_avatars
          -#   %span
          -#     %img{:src => "#{user.avatar.url(:thumb)}"}/
          -#   %br/
          -#   = link_to user.username ,user_path(user)