%p.pagetop
  %a{:href => "#"} ↑
%footer
  #footermenu
    .footermenu__contents
      .footermenu__content
        .footermenu__icon
          = link_to "line://" do
            = icon("fab", "line", class: "footermenu__icon--size")
        .footermenu__icon
          = link_to "https://ja-jp.facebook.com/" do
            = icon("fab", "facebook-square", class: "footermenu__icon--size")
        .footermenu__icon
          = link_to "https://www.instagram.com/?hl=ja" do
            = icon("fab", "instagram", class: "footermenu__icon--size")
        .footermenu__icon
          = link_to "https://twitter.com/login?lang=ja" do
            = icon("fab", "twitter-square", class: "footermenu__icon--size")
        .footermenu__icon
          = link_to "https://www.youtube.com/?gl=JP&hl=ja" do
            = icon("fab", "youtube-square", class: "footermenu__icon--size")

      %ul
        %li
          %a{:href => "#"} Engineer Connect Bot

  / /footermenu
  #copyright
    %small
      Copyright©
      %a{:href => "index.html"} Sample Company
      All Rights Reserved.
    %span.pr
      《
      %a{:href => "http://template-party.com/", :target => "_blank"}> Web Design:Template-Party
      》