#menu-box.nav-fix-pos
  / PC用（481px以上端末）メニュー
  %nav#menubar
    %ul
      %li.menuimg.menu1
        = link_to '自己管理', root_path
        - if user_signed_in?
          %ul.ddmenu
            %li
              = link_to 'ユーザー編集', edit_user_registration_path
            - if current_user.user_detail.present?
              %li
                = link_to '詳細編集', edit_user_details_path
              %li
                = link_to '詳細確認', user_details_path
            - else
              %li
                = link_to '詳細登録', new_user_details_path
            %li
              = link_to 'ログアウト', destroy_user_session_path, method: :delete
        - else
          %ul.ddmenu
            %li
              = link_to "ユーザー作成", new_user_registration_path
            %li
              = link_to "ログイン", new_user_session_path
      %li.menuimg.menu2
        = link_to 'ユーザー', root_path
        %ul.ddmenu
          %li
            = link_to "ユーザーを検索", users_path

      %li.menuimg.menu3
        = link_to 'グループ', root_path
        %ul.ddmenu
          %li
            = link_to 'グループを作成', new_group_path
          %li
            = link_to 'グループを編集', engineer_connect_bots_have_group_path
          %li
            = link_to 'グループを検索', groups_path
      %li.menuimg.menu4
        = link_to '投稿', engineer_connect_bots_article_path
        %ul.ddmenu
          %li
            = link_to '記事を検索する', engineer_connect_bots_search_path
          %li
            = link_to '記事を投稿する', engineer_connect_bots_article_path