#menu-box.nav-fix-pos
  %nav#menubar
    %ul
      %li.menuimg.menu1
        = link_to 'ユーザー', root_path
        - if user_signed_in?
          %ul.ddmenu
            %li
              = link_to '基本編集', edit_user_registration_path
            - if current_user.user_detail.present?
              %li
                = link_to '詳細編集', edit_user_detail_path(current_user)
              %li
                = link_to '詳細確認', user_detail_path(current_user)
            - else
              %li
                = link_to '詳細登録', new_user_detail_path
            %li
              = link_to '友達確認', user_path(current_user)
            %li
              = link_to "ユーザー検索", users_path
            %li
              = link_to 'ログアウト', destroy_user_session_path, method: :delete
        - else
          %ul.ddmenu
            %li
              = link_to "ユーザー作成", new_user_registration_path
            %li
              = link_to "ログイン", new_user_session_path
      %li.menuimg.menu2
        = link_to 'グループ', root_path
        %ul.ddmenu
          %li
            = link_to 'グループ作成', new_group_path
          %li
            = link_to 'グループ一覧', engineer_connect_bots_have_group_path
          %li
            = link_to 'グループ検索', groups_path

      %li.menuimg.menu3
        = link_to '掲示板', engineer_connect_bots_article_path
        %ul.ddmenu
          %li
            = link_to '投稿新規作成', engineer_connect_bots_article_post_path
          %li
            = link_to '投稿記事検索', engineer_connect_bots_search_path
          %li
            = link_to '投稿記事確認', engineer_connect_bots_article_mine_path

      %li.menuimg.menu4
        = link_to '作成中', engineer_connect_bots_article_path
        %ul.ddmenu
