.private-content
  = render 'side_msgbox', { messages: @messages, send_messages: @send_messages }

  .private__main
    = form_with(model: @private_message, url: user_private_messages_path, method: "POST", local: true) do |f|
      .form__content
        = f.text_field :user_id, value: current_user.id, type: "hidden"
      .form__content
        = f.text_field :send_user_id, value: @to_user, type: "hidden"
      .form__content
        = f.text_area :text, class: "form__box", placeholder: '送りたい内容を入力してください'
      .form__content
        = f.submit "送信する", class: "form__button"