.form
  .form__contents
    %h2 ログイン
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .form__content
        = f.label :email, class: "form__label"
        = f.email_field :email, autofocus: true, autocomplete: "email", class: "form__box"
      .form__content
        = f.label :password, class: "form__label"
        = f.password_field :password, autocomplete: "current-password", class: "form__box"
      - if devise_mapping.rememberable?
        .form__content
          = f.label :remember_me, class: "form__label"
          = f.check_box :remember_me, class: "form__check"
      .form__content
        = f.submit "ログインする", class: "form__button"
      .form__content
        .form__link
          = render "devise/shared/links"
