= render 'search', { beginner: @beginner, beginners: @beginners}
.article__contents
  .article__category
    %table.article__category__contents
      %tr.article__category__content
        %td.article__heading.article__category__content.article__category__content--title
          タイトル
        %td.article__heading.article__category__content.article__category__content--master
          投稿者
        %td.article__heading.article__category__content.article__category__content--category
          カテゴリー
        %td.article__heading.article__category__content.article__category__content--language
          言語
        %td.article__heading.article__category__content.article__category__content--detail
          詳細
    %table.article__category__contents
      - if @beginners.present?
        - @beginners.each do |beginner|
          %tr.article__category__content
            %td.article__category__content.article__category__content--title
              = link_to beginner.title, beginner_path(beginner.id), class: "article__category__content--link"
            %td.article__category__content.article__category__content--master
              = link_to beginner.user.name, user_path(id: beginner.user.id), class: "article__category__content--link"
            %td.article__category__content.article__category__content--category
              = beginner.category
            %td.article__category__content.article__category__content--language
              = beginner.language
            %td.article__category__content.article__category__content--detail
              = beginner.detail
      - else
        %tr.article__category__content
          %td.article__heading.article__category__content
            該当する記事が見つかりません