family_name
= @user_detail.family_name
%br/
first_name
= @user_detail.first_name
%br/
address
= @user_detail.address
%br/
level
= @user_detail.level
%br/
language
= @user_detail.language
%br/
detail
= @user_detail.detail