= form_with(model: senior, local: true) do |f|
  .form__content
    = f.label :title, class: "form__label" do
      タイトル
    = f.text_field :title, class: "form__box", placeholder: 'タイトルを入力してください'
  .form__content
    = f.label :category, class: "form__label" do
      カテゴリー
    = f.select :category, ["募集","依頼","質問","交流"], {}, {class: "form__box"}
  .form__content
    = f.label :language, class: "form__label" do
      言語
    = f.text_field :language, class: "form__box", placeholder: '使用可能な言語を入力してください'
  .form__content
    = f.label :detail, class: "form__label" do
      詳細
    = f.text_area :detail, class: "form__box", placeholder: '詳細を入力してください'
  .form__content
    = f.label :price, class: "form__label" do
      金額
    = f.text_area :price, class: "form__box", placeholder: '金額を入力してください'
  .form__content
    = f.label :entry_period, class: "form__label" do
      申込締切期限
    = f.text_field :entry_period, id: "senior_entry_period", class: "form__calendar"
  .form__content
    = f.label :work_period, class: "form__label" do
      開発締切期限
    = f.text_field :work_period, id: "senior_work_period", class: "form__calendar"
  .form__content
    = f.submit text, class: "form__button"