- @seniors.each do |senior|
  .request__contents
    .request__content
      タイトル
      = senior.title
    .request__content
      カテゴリー
      = senior.category
    .request__content
      言語
      = senior.language
    .request__content
      詳細
      = senior.detail
    .request__content
      報酬
      = senior.price
    .request__content
      申込期限
      = senior.entry_period
    .request__content
      開発期間
      = senior.work_period