.form
  .form__contents
    = search_form_for @senior, as: :x, class: "mb-5" do |f|
      .form__content
        = f.label :title_cont, 'タイトルから検索', class: 'col-sm-2 col-form-label form__content__title'
      .form__content
        = f.search_field :title_cont, class: 'form-control form__content__search'
      .form__content
        = f.submit class: 'btn btn-outline-primary form__button'
        .request__contents
          .request__content
.article__contents
  .article__category
    %table.article__category__contents
      %tr.article__category__content
        %td.article__heading.article__category__content.article__category__content--title
          タイトル
        %td.article__heading.article__category__content.article__category__content--master
          投稿者
        %td.article__heading.article__category__content.article__category__content--language
          言語
        %td.article__heading.article__category__content.article__category__content--detail
          申込期限
        %td.article__heading.article__category__content.article__category__content--detail
          詳細
    %table.article__category__contents
      - if @seniors.present?
        - @seniors.each do |senior|
          %tr.article__category__content
            %td.article__category__content.article__category__content--title
              = link_to senior.title, senior_path(senior.id), class: "article__category__content--link"
            %td.article__category__content.article__category__content--master
              = link_to senior.user.name, user_path(id: senior.user.id), class: "article__category__content--link"
            %td.article__category__content.article__category__content--language
              = senior.language
            %td.article__category__content
              = senior.entry_period
            %td.article__category__content
              = senior.detail
      - else
        %tr.article__category__content
          %td.article__heading.article__category__content
            該当する記事が見つかりません