!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title App013Engineerconnectbot
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %script{src: "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"}
    %script{src: "https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"}
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.min.css", :rel => "stylesheet"}
  %body
    = yield
    .side
      .side__menu
        - if user_signed_in?
          - if current_user.image.present?
            = image_tag current_user.image.to_s, size: "100x100", alt: "test", class: "topPage__user__box--image"
          - else
            = image_tag 'NoImage.png', size: "100x100", alt: "test", class: "topPage__user__box--image"